/* Navbar styling */
.navbar {
  background-color: #a77c06;
  padding: 0.5rem;
}

.navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin-right: 1rem;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navbar a.active {
  text-decoration: underline;
}
